#authors-container {
    padding: 20px 10px;
    width: 200px;

    #search-box {
        position: relative;
        width: 100%;

        input[type="search"] {
            border: 1px solid $search-border;
            box-sizing: border-box;
            border-radius: 4px;
            outline: none;
            padding: 8px;
            width: 100%;

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                appearance:none;
            }

            &:focus {
                border: 1px solid $search-focus-border;
            }
        }

        &::after {
            font-family: $font-bootstrap-icons;
            transform: translateY(-50%);
            color: $search-icon-color;
            pointer-events: none;
            position: absolute;
            content: " \F52A";
            font-weight: 900;
            right: 8px;
            top: 50%;
        }
    }
}