::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #a3a3a3; 
}

::-webkit-scrollbar-thumb:hover {
    background: #777777; 
}

button {
    background-color: transparent;
    font-family: $font-roboto;
    cursor: pointer;
    border: none;
}