::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #a3a3a3; 
}

::-webkit-scrollbar-thumb:hover {
    background: #777777; 
}

button {
    background-color: transparent;
    font-family: $font-roboto;
    cursor: pointer;
    border: none;
}

input {
    font-family: $font-roboto;
}

.theme-button {
    background-color: $color-orange-light;
    text-decoration: none;
    border-radius: 100px;
    padding: 8px 16px;
    line-height: 20px;
    font-weight: 500;
    color: #fefefe;
    font-size: 14px;
    margin: 5px;

    &:hover {
        background-color: $color-orange-dark;
    }
}