main {
    border-right: 2px solid $color-box-border;
    border-left: 2px solid $color-box-border;
    flex: 1;

    #content-header {
        border-bottom: 2px solid $color-box-border;
        width: 100%;

        h3 {
            display: inline-block;
            margin-left: 20px;
        }
    }
}