nav {
    width: 250px;

    ul {
        list-style-type: none;
        margin-top: 180px;
        padding: 0;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
                display: inline-flex;
                border-radius: 20px;
                align-items: center;
                color: $nav-color;
                padding: 8px 20px;
                line-height: 24px;
                font-weight: 500;
                font-size: 19px;

                span {
                    margin-left: 20px;
                }

                &:hover {
                    transition: color 0.1s, background-color 0.1s;
                    background-color: $nav-hover-background;
                    color: $nav-hover-color;
                }

                i {
                    font-size: 28px;
                }
            }

            &.active {
                a {
                    color: $nav-active-color;
                }
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    nav {
        width: 100px;

        ul {
            li {
                a {
                    padding: 12px;

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #authors-container {
        display: none;
    }
}