#user-nav {
    border-left: 2px solid $color-box-border;
    flex: 0 0 25%;

    .content-header {
        a {
            text-decoration: none;
            color: #000000;
        }
    }

    .user-nav-content {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
            border-bottom: 1px solid $color-box-border;
            
            a {
                padding: 10px 40px 10px 16px;
                text-decoration: none;
                font-weight: normal;
                color: #000000;
                font-size: 16px;
                display: block;

                &:hover {
                    transition: color 0.1s, background-color 0.1s;
                    background-color: $nav-hover-background;
                    color: $nav-hover-color;
                }
            }

            &.active {
                a {
                    background-color: $nav-hover-background;
                    color: $nav-hover-color;
                }
            }

            &.static-item {
                padding: 10px 40px 10px 16px;
                font-weight: 500;
            }
        }
    }
}

.info-panel {
    align-items: center;
    padding: 0 10px;
    display: flex;

    p {
        margin: 8px 0;
    }

    &.warn {
        background-color: rgba(255, 255, 0, 0.233);

        &::before {
            font-family: $font-bootstrap-icons;
            margin-right: 10px;
            content: "\F33B";
        }
    }
}

.table-box {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;

    .table-box-header {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    table {
        border-collapse: collapse;
        table-layout: auto;
        width: 100%;

        th {
            text-align: left;
        }

        tr {
            td, th {
                border-bottom: 1px solid $color-box-border;
                padding: 12px 0;
            }

            &:hover {
                td {
                    backdrop-filter: brightness(0.98);
                }
            }
        }

        a {
            color: $color-orange-light;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

form {
    box-sizing: border-box;
    padding: 10px;

    label {
        position: relative;
        display: block;
        margin: 10px 0;
        width: 100%;

        span {
            display: block;
            margin: 5px;
        }

        input {
            border: 1px solid $search-border;
            box-sizing: border-box;
            border-radius: 6px;
            padding: 14px 16px;
            line-height: 20px;
            font-size: 16px;
            outline: none;
            width: 100%;

            &:focus {
                border: 1px solid $color-orange-light;
            }

            &.error-field {
                border: 1px solid red;

                & + span {
                    color: red !important;
                }
            }
        }

        input[type="text"] {
            & + span {
                transition: 0.2s top, 0.2s font-size;
                color: $input-placeholder-color;
                transform: translateY(-50%);
                background-color: #ffffff;
                pointer-events: none;
                position: absolute;
                user-select: none;
                padding: 0 5px;
                left: 15px;
                margin: 0;
                top: 50%;
            }

            &:focus {
                + span {
                    color: $color-orange-light;
                }
            }

            &:not(:placeholder-shown), &:focus {
                + span {
                    font-size: 13px;
                    top: 0;
                }
            }
        }
    }

    .error-message {
        background-color: #ff000014;
        box-sizing: border-box;
        color: #ff0000;
        padding: 10px;
        width: 100%;
    }

    .success-message {
        background-color: rgba(0, 255, 0, 0.078);
        box-sizing: border-box;
        color: #255d25;
        padding: 10px;
        width: 100%;
    }
}

.fullwidth-form {
    width: 100%;
}

.buttons-row {
    justify-content: flex-end;
    display: flex;
}

.reviews-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.banner-box {
    justify-content: center;
    align-items: center;
    display: flex;

    img {
        max-width: 100%;
    }
}

.select-multiple {
    position: relative;

    &.active {
        .select-multiple-trigger {
            border: 1px solid $color-orange-light;
        }
    }

    &.error-field {
        .select-multiple-trigger {
            border: 1px solid red;
        }

        .select-multiple-placeholder {
            color: red !important;
        }
    }

    .select-multiple-trigger {
        border: 1px solid $search-border;
        font-family: $font-roboto;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 14px 16px;
        color: #000000;
        min-height: 36px;
        cursor: pointer;
        outline: none;
        width: 100%;
        
        .select-multiple-placeholder {
            justify-content: space-between;
            pointer-events: none;
            align-items: center;
            user-select: none;
            font-size: 16px;
            display: flex;
            opacity: 0.3;
            margin: 0;

            &::after {
                font-family: $font-bootstrap-icons;
                content: "\F282";
            }
        }

        .select-multiple-selected {
            width: fit-content;
            flex-wrap: wrap;
            display: flex;

            .selected-element {
                background-color: rgba($color-orange-light, 0.4);
                padding: 5px 8px 5px 15px;
                align-items: center;
                border-radius: 15px;
                display: flex;
                margin: 5px;

                .selected-element-remove {
                    background-color:  rgba($color-orange-dark, 0.4);
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    margin-left: 10px;
                    cursor: pointer;
                    display: flex;
                    border: none;
                    height: 20px;
                    width: 20px;

                    &::after {
                        font-family: $font-bootstrap-icons;
                        content: "\F62A";
                        color: black;
                    }
                }
            }
        }
    }


    .select-multiple-options {
        transition: 0.2s transform, 0.2s opacity;
        border: 1px solid $search-border;
        background-color: #ffffff;
        font-family: $font-roboto;
        box-sizing: border-box;
        top: calc(100% + 5px);
        transform: scale(0.5);
        pointer-events: none;
        position: absolute;
        border-radius: 5px;
        color: #000000;
        padding: 3px;
        z-index: 5;
        opacity: 0;
        left: 0;

        &.active {
            pointer-events: all;
            transform: scale(1);
            opacity: 1;
        }

        .select-multiple-option {
            position: relative;
            border-radius: 5px;
            user-select: none;
            padding: 8px 30px;
            cursor: pointer;
            font-size: 1rem;

            &:hover {
                background-color: rgba($color-orange-light, 0.1);
            }

            &.selected-option {
                &::before {
                    font-family: $font-bootstrap-icons;
                    position: absolute;
                    content: "\F272";
                    left: 7px;
                }
            }
        }
    }
}


.separator {
    background-color: $color-box-border;
    height: 5px;
    width: 100%;
}

#messages-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;

    .date-separator {
        position: relative;
        text-align: center;
        color: #8a96a3;
        font-size: 11px;
        margin: 10px 0;
        width: 100%;

        &::before {
            background-color: rgba(138,150,163,.25);
            transform: translateY(-50%);
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            content: "";
            z-index: -1;
            top: 50%;
        }
        
        &::after {
            background-color: #ffffff;
            transform: translateX(-50%);
            position: absolute;
            height: 100%;
            width: 50px;
            content: "";
            z-index: -1;
            left: 50%;
            top: 0;
        }
    }
    
    .message-box {
        align-items: flex-end;
        display: flex;

        .avatar-box {
            margin-bottom: 1rem;
            border-radius: 100%;
            height: 36px;
            width: 36px;

            img {
                object-position: center;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .message {
            max-width: 80%;

            .message-text {
                padding: 10px 12px;
                line-height: 24px;
                margin: 0 7px;
            }

            .message-date {
                margin: 0.2rem 0;
                color: #8a96a3;
                font-size: 11px;
                padding: 0 10px;
            }
        }
    }

    .author-message {
        flex-direction: row-reverse;

        .message-text {
            background-color: rgba($color-orange-light, 0.15);
            border-radius: 6px 6px 0 6px;
            margin-right: 7px;
        }

        .message-date {
            text-align: right;
        }
    }

    .foreign-message {
        flex-direction: row;

        .message-text {
            background-color: rgba(138,150,163,.12);
            border-radius: 6px 6px 6px 0;
            margin-left: 7px;
        }

        .message-date {
            text-align: left;
        }
    }
}

#message-form-box {
    border-top: 2px solid $color-box-border;

    textarea {
        box-sizing: border-box;
        max-height: 215px;
        line-height: 24px;
        min-height: 38px;
        font-size: 15px;
        outline: none;
        padding: 8px;
        resize: none;
        border: none;
        width: 100%;
    }

    .input-row {
        justify-content: space-between;
        align-items: center;
        display: flex;

        .icon-button {
            font-size: 1.2rem;
            color: gray;

            &:hover {
                color: $color-orange-light;
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    .user-nav {
        .user-data {
            .user-detail {
                display: none;
            }
        }
    }
}

.tox .tox-promotion-link {
    display: none !important;
}