@import "_variables";

body {
    font-family: $font-roboto;
    padding: 0;
    margin: 0;
}

#content-container {
    min-height: 100dvh;
    max-width: 1200px;
    width: 100dvw;
    display: flex;
    margin: auto;
}

@import "_elements";
@import "_nav";
@import "_mainContent";
@import "_suggestions";

@media screen and (min-width: 1500px) {
    #content-container {
        max-width: 1350px;
    }
}