@import "_variables";

body {
    font-family: $font-roboto;
    padding: 0;
    margin: 0;
}

#content-container {
    min-height: 100dvh;
    max-width: 1200px;
    width: 100dvw;
    display: flex;
    margin: auto;
}

@import "_elements";
@import "_nav";
@import "_mainContent";
@import "_suggestions";

.user-nav {
    .user-data {
        justify-content: center;
        align-items: center;
        margin-top: 49px;
        display: flex;

        img {
            object-position: center;
            border-radius: 100%;
            object-fit: cover;
            height: 48px;
            width: 48px;
        }

        .user-detail {
            margin-left: 5px;
        }

        .user-name {
            margin: 0 0 5px 0;
            font-weight: 500;
            font-size: 16px;
        }

        .user-username {
            color: #8a96a3;
            font-weight: 400;
            font-size: 14px;
            margin: 0;
        }
    }

    ul {
        margin-top: 82px;
    }
}

.table-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;

    .table-box-header {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    table {
        width: 100%;
    }
}

// @media screen and (min-width: 1500px) {
//     #content-container {
//         max-width: 1350px;
//     }
// }

@media screen and (max-width: 1275px) {
    .user-nav {
        .user-data {
            .user-detail {
                display: none;
            }
        }
    }
}